<section class="content-header">
    <h1>
        Editar Patrimônio
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/patrimonios']" routerLinkActive="router-link-active">Lista Patrimônios</a></li>

        <li class="breadcrumb-item active">Editar Patrimônio</li>
    </ol>

</section>


<!-- end page title -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <!-- Default box -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Editar</h3>
                    <div class="row">
                        <div class="col-md-12 col-xl-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="profile-widgets py-3">

                                        <div class="text-center">
                                            <div class="">
                                                <input type="file" id="imgupload" style="display:none" accept="image/*" (change)="onUploadMainImage($event)" />

                                                <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzSrc]="patrimonio.avatarView || 'assets/imgs/prod.jpg'" (click)="onClickImagePrincipal()"></nz-avatar>
                                            </div>

                                            <div class="mt-3">
                                                <a class="text-dark font-weight-medium font-size-16">{{patrimonio.name}}</a>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-12 col-xl-9">
                            <div class="card">
                                <div class="card-body">
                                    <button class="btn btn-outline-primary btn-sm  pull-right" (click)="save()" style="float:right" type="button"><i nz-icon nzType="save" nzTheme="outline"></i> Salvar
                                     Dados</button>

                                    <h4 class="card-title">Cadastro Patrimonio</h4>
                                    <p class="card-title-desc">Dados Cadastrais da Patrimonio</p>
                                    <hr />
                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Nome</label>
                                                <input nz-input class=" form-control form-control-sm" [(ngModel)]="patrimonio.name" type="text" name="email1">

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Código</label>
                                                <input nz-input [(ngModel)]="patrimonio.codPatrimonio" id=" nzSearch" name=" nzSearch" placeholder="Código Parimônio" class=" form-control form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Serial</label>
                                                <input nz-input [(ngModel)]="patrimonio.serial" id=" nzSearch" name=" nzSearch" placeholder="Serial" class=" form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">

                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Data Aquisição</label>
                                                <nz-date-picker [nzFormat]="dateFormat" [(ngModel)]="patrimonio.dataAquisicao" placeholder="Data Aquisição" class=" form-control form-control-sm"></nz-date-picker>

                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Medidor Instalacao</label>
                                                <input nz-input [(ngModel)]="patrimonio.medidorInstalacao" currencyMask [options]="customCurrencyMaskConfig" id=" nzSearch" name=" nzSearch" placeholder="Nome Fantasia" class=" form-control form-control-sm">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Modelo</label>

                                                <nz-select class=" form-control form-control-sm  " nzShowSearch nzAllowClear [nzDropdownRender]="renderTemplate" style="width: 300px;" [(ngModel)]="patrimonio.modelo.id" nzPlaceHolder="custom dropdown render">
                                                    <nz-option *ngFor="let item of modelos" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                                                </nz-select>


                                                <ng-template #renderTemplate>
                                                    <nz-divider></nz-divider>
                                                    <div class="container">
                                                        <input type="text" nz-input #inputElement />
                                                        <a class="add-item" (click)="addItem(inputElement)"><i nz-icon nzType="plus"></i> Add item</a>
                                                    </div>
                                                </ng-template>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group">
                                                <label for="my-select">Tipo Patrimônio</label>
                                                <nz-select class=" form-control form-control-sm" nzShowSearch nzAllowClear nzPlaceHolder="Tipo Equipamento" [(ngModel)]="patrimonio.tipoPatrimonio">
                                                    <nz-option *ngFor="let item of typepatrimonio " nzLabel="{{item.name}}" nzValue="{{item.name}}"></nz-option>

                                                </nz-select>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--nz-modal id="modalmodelo" [(nzVisible)]="isVisible" nzTitle="Cadastro de Modalo" nzCancelText="Cancelar" (nzOnCancel)="isVisible=false">



    </nz-modal>
  -->
</section>