<section class="content-header">
    <h1>
        Lista Funcionários
    </h1>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/funcionarios']" routerLinkActive="router-link-active"><i
                    class="fa fa-dashboard"></i> Cadastro Funcionarios</a></li>
        <li class="breadcrumb-item"><a>Editar</a></li>
    </ol>

</section>

<section class="content">

    <!-- Default box -->
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Editar</h3>

            <input type="file" id="imgupload" style="display:none" accept="image/*" (change)="onUploadMainImage($event)" />
            <div class="row">
                <div class="col-md-12 col-xl-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="profile-widgets py-3">

                                <div class="text-center">
                                    <div class="">
                                        <nz-avatar [nzShape]="'square'" [nzSize]="128" [nzSrc]="funcionario.avatarView || 'assets/imgs/avatar.png'" (click)="onClickImagePrincipal()"></nz-avatar>

                                    </div>

                                    <div class="mt-3 ">
                                        <a class="text-dark font-weight-medium font-size-16">{{funcionario.name}}</a>

                                    </div>

                                    <div class="mt-3 ">
                                        <a class="text-dark font-weight-medium font-size-16">{{funcionario.email}}</a>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-md-12 col-xl-9">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">Cadastro Funcionário</h4>
                            <p class="card-title-desc">Dados Cadastrais do Funcionário</p>

                            <div class=" ">
                                <button type="button" class="btn btn-outline-primary btn-sm" style="float:right" (click)="salvar()"> <i class="fa fa-check-square" aria-hidden="true"></i> Salvar</button>

                                <!-- Nav tabs -->
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#home" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                            <span class="d-none d-sm-block">Dados Pessoais</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#messages" role="tab">
                                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                            <span class="d-none d-sm-block">Dados Gerais</span>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#profile" role="tab">
                                            <span class="d-block d-sm-none"><<i class="far fa-envelope"></i></span>
                                            <span class="d-none d-sm-block">Endereço</span>
                                        </a>
                                    </li>

                                    <!--<li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#settings" role="tab">
                                            <span class="d-block d-sm-none"><i class="fas fa-cog"></i></span>
                                            <span class="d-none d-sm-block">Dados Bancário</span>
                                        </a>
                                    </li>
                                -->
                                </ul>

                                <!-- Tab panes -->
                                <!-- Tab panes -->
                                <div class="tab-content  text-muted">
                                    <div class="tab-pane active" id="home" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-8 ">
                                                <div class="form-group">
                                                    <label for="my-input">Nome</label>
                                                    <input styleClass="md-inputfield" nz-input id="my-input" class=" form-control form-control-sm" type="text" name="name" [(ngModel)]="funcionario.name" name="nome">
                                                </div>
                                            </div>

                                            <div class="col-lg-4 ">
                                                <div class="form-group">
                                                    <label for="my-input">Email</label>
                                                    <input styleClass="md-inputfield" nz-input id="my-input" class=" form-control form-control-sm" type="email" name="email" [(ngModel)]="funcionario.email" name="mail">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4 ">
                                                <div class="form-group">
                                                    <label for="my-select">Tipo Sanguineo</label>
                                                    <input nz-input id="my-input1" class=" form-control form-control-sm" [(ngModel)]="funcionario.tipoSanguineo" type="text" name="tipoSanguineo">

                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="my-input1">CPF</label>
                                                    <input nz-input id="my-input1" mask="000.000.000-00" class=" form-control form-control-sm" [(ngModel)]="funcionario.cpfOnCnpj" type="cpfOnCnpj" name="cpfOnCnpj">
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="my-input1">RG</label>
                                                    <input nz-input id="my-input1" class=" form-control form-control-sm" [(ngModel)]="funcionario.rg" type="text" name="rg">
                                                </div>
                                            </div>

                                        </div>
                                        <div class="row">
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="profile" role="tabpanel">
                                        <div dir="ltr">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label for="exampleInputEmail1">CEP</label>
                                                    <div class="input-group mb-3">
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.zipCode" nz-input name="cep" placeholder="CEP" class="form-control form-control-sm" mask="00.000-000">

                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-primary btn-sm" [style]="funcionario.enderecoPrincipal.zipCode!=null && funcionario.enderecoPrincipal.zipCode.length <8 ?  'display:none;' :'display:block;' " (disabled)="funcionario.enderecoPrincipal.zipCode.length<10"
                                                                type="button" (click)="consultacepprincipal()"><i class="fa fa-search" aria-hidden="true"></i></button>
                                                        </div>
                                                    </div>

                                                </div>

                                                <div class="col-sm-7">
                                                    <div class="form-group">
                                                        <label for="my-input1">Logradouro</label>
                                                        <input id="my-input1" class="form-control form-control-sm" [(ngModel)]="funcionario.enderecoPrincipal.street" type="street" name="street" nz-input placeholder="Logradouro">
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="my-input">No.</label>
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.nro" nz-input name="nro" class="form-control form-control-sm" placeholder="Nro" required>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="my-input">Complemento</label>
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.complement" nz-input name="complement" class="form-control form-control-sm" placeholder="Complemento">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="my-input">Bairro</label>
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.bairro" nz-input name="bairro" class="form-control form-control-sm" placeholder="Bairro" required>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="my-input">Cidade</label>
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.city" nz-input name="city" class="form-control form-control-sm" placeholder="Cidade" required>
                                                    </div>
                                                </div>

                                                <div class="col-sm-2">
                                                    <div class="form-group">
                                                        <label for="my-input">UF</label>
                                                        <input [(ngModel)]="funcionario.enderecoPrincipal.state" nz-input name="state" class="form-control form-control-sm" placeholder="UF" required>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane" id="messages" role="tabpanel">
                                        <div class="row">
                                            <div class="col-lg-3 ">
                                                <div class="form-group">
                                                    <label for="my-select">Status</label>
                                                    <select id="my-select" class=" form-control form-control-sm" name="ativo" [(ngModel)]="funcionario.status">
                                                          <option value="Ativo">Ativo</option>
                                                          <option value="Inativo">Inativo</option>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="my-input1">Data Admissão</label>
                                                    <nz-date-picker class=" form-control form-control-sm" [(ngModel)]="funcionario.dataAdmissao" [nzFormat]="dateFormat"></nz-date-picker>



                                                </div>
                                            </div>

                                            <div class="col-lg-3">
                                                <div class="form-group">
                                                    <label for="my-input1">Nome de Guerra</label>
                                                    <input nz-input id="my-input1" class=" form-control form-control-sm" [(ngModel)]="funcionario.namewar" type="text" name="war">
                                                </div>
                                            </div>
                                            <div class="col-lg-3">
                                                <!--[options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"-->
                                                <div class="form-group">
                                                    <label for="my-input1">Salário</label>
                                                    <input nz-input id="my-input" class="form-control form-control-sm" [(ngModel)]="funcionario.salario" currencyMask [options]="customCurrencyMaskConfig" [placeholder]="'R$ 0,00'">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="my-input1">Mês Férias</label>
                                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" [(ngModel)]="funcionario.periodoFerias" class="  form-control form-control-sm">
                                                        <nz-option [nzLabel]="item.value" [nzValue]="item.value" *ngFor="let item of monthNames"></nz-option>
                                                    </nz-select>
                                                </div>
                                            </div>

                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="my-input1">Função</label>
                                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" [(ngModel)]="funcionario.funcao" class=" form-control form-control-sm">
                                                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of funcoes | async as rules"></nz-option>
                                                    </nz-select>

                                                </div>

                                            </div>
                                            <div class="col-lg-4">
                                                <div class="form-group">
                                                    <label for="my-input1">Regra Acesso</label>
                                                    <nz-select nzShowSearch nzAllowClear nzPlaceHolder="" [(ngModel)]="funcionario.rolers" class=" form-control form-control-sm">
                                                        <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of rules | async as rules"></nz-option>
                                                    </nz-select>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                    <!--<div class="tab-pane" id="settings" role="tabpanel">
                                        <button type="button" style="float:right" class="btn btn-primary waves-effect waves-light btn-sm pull-right m-4" id="sa-warning" (click)="novoBanco()"> Novo Banco</button>

                                        <table #fixedTable class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Descrição</th>
                                                    <th scope="col">Banco</th>
                                                    <th scope="col">Agencia</th>
                                                    <th scope="col">Conta</th>
                                                    <th>Editar</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let banco of funcionario.contasBancarias; index as i">
                                                    <td>{{ i + 1 }}</td>
                                                    <td>
                                                        {{ banco.descricao }}
                                                    </td>
                                                    <td>{{ banco.banco }}</td>
                                                    <td>{{ banco.agencia}}</td>
                                                    <td>{{ banco.conta}}</td>

                                                    <td>
                                                        <a class="btn btn-link btn-sm" (click)="editBanco(banco)">
                                                            <i nz-icon nzType="edit" nzTheme="outline"></i> </a>
                                                        <nz-divider nzType="vertical"></nz-divider>
                                                        <a class="btn btn-link btn-sm" (click)="deletebanco(i)">
                                                            <i nz-icon nzType="delete" nzTheme="outline"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                -->
                                </div>
                            </div>
                            <hr/>
                            <button type="button" class="btn btn-btm-outline-primary btn-sm" (click)="salvar()"> <i class="fa fa-check-square" aria-hidden="true"></i> Salvar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<nz-modal [(nzVisible)]="isVisiblebanco" nzTitle="Dados Banco" (nzOnCancel)="isVisiblebanco=false">


    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label for="my-input1">Descrição</label>
                <input nz-input id="my-input11" class="form-control form-control-sm" [(ngModel)]="contasBancaria.descricao" type="text" name="descricaob" placeholder="Descrição">

            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group">
                <label for="my-input">Banco</label>
                <input nz-input [(ngModel)]="contasBancaria.banco" name="banco" class="form-control form-control-sm" placeholder="Nome do Banco">
            </div>
        </div>
    </div>
    <div class="row">


        <div class="col-lg-6">
            <div class="form-group">
                <label for="my-input">Agência</label>
                <input nz-input [(ngModel)]="contasBancaria.agencia" name="agencia" class="form-control form-control-sm" placeholder="Agência">
            </div>
        </div>

        <div class="col-lg-6">
            <div class="form-group">
                <label for="my-input">Conta</label>
                <input nz-input [(ngModel)]="contasBancaria.conta" name="conta" class="form-control form-control-sm" placeholder="Conta">
            </div>
        </div>
        <!-- <div class="col-lg-3">
            <div class="form-group">
                <label for="my-input">Operação</label>
                <input nz-input [(ngModel)]="contasBancaria." name="operacao" class="form-control form-control-sm" placeholder="Operação">
            </div>d
        </div>
    -->
    </div>
    <p><span class="text-danger">É preciso Salvar para gravar os dados</span></p>
    <div *nzModalFooter>
        <button type="button" class="btn btn-outline-primary btn-sm" (click)="salvarBanco() || isVisiblebanco=false"> <i class="fa fa-check-square" ></i> Salvar</button>
    </div>
</nz-modal>